=provide(:title, "Comments - " << @hackerino.title)
=render @hackerino
%p Raise the noise about this hackerino!
%div#submitComment
    =form_for(@new_comment) do |f|
        =f.hidden_field :hackerino_id, value: @hackerino.id

        =f.label :author
        =f.text_field :author

        =f.text_area :content

        =f.submit "Let your voice be heard!", class:"button"
-@comments.each do |c|
    =render c
