=provide(:title, "Comments - " << @hackerino.title)
=render @hackerino
%p Raise the noise about this hackerino!
%div#submitComment
    =render "comments/comment_form"
-@comments.each do |c|
    =render c
