%div{:id => hackerino.id, :class => 'hackerino'}
    =link_to image_tag('lowered.png'), '/vote/' << hackerino.id.to_s, remote:true, method: :post, class: 'donger'
    %a{:href => hackerino.url}
        =hackerino.title 
    =hackerino.author
    %a{:href => '/comments/' << hackerino.id.to_s}
        Comments
